.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

// For nbButton:
.md-button {
    /*For Lower case use lowercase*/
    /*For Upper case use capitalize*/
    // text-transform: lowercase !important;
    text-transform: none !important;
}